CSCI405 Project Handbook.pdf

#Ignoring Virtual Environment
venv/*
venv/lib64
venv/pyvenv.cfg
venv/bin/*
venv/lib/*
venv/lib/python3.9/site-packages/*

#NLTK Learning Metadata
nltk
checkpoint
model.tflearn.data-00000-of-00001
model.tflearn.index
model.tflearn.meta

#Other Files
main/
__pycache__/app.cpython-39.pyc
Korang, Byler, Wakefield, Ruggirello, Berger Project proposal.docx
dataset.csv
dataset.csv.zip
