{% extends 'base.html' %}

{% block content %}
<h1> <strong>This is the Language Detector Page!</strong></h1>

<h4>How to Use:</h4>

<p>Type in at least 6 words of the language you would like to detect. Then, hit the detect button!</p>

<form class="form-container" action="/languageprediction" method="post">
  <div class="form-group">
    <label>Language Detector:</label>
    <div>
      <input type="text" id="input_words" name="input_words" placeholder="Type your words here">
    </div>
  </div>

  <div class="form-group">
    <label class="form-button"></label>
      <div>
          <form action="/languageprediction" method="post"></form><button type="submit">Detect</button>
        </div>
      </div>
</form>     
{% endblock %}







</html>